# Ignore Visual Studio Code settings
.vscode/

# Ignore macOS system files
**/.DS_Store

# Ignore specific directories and files
scripts/base_dir/
s*/main.*
s1/

# Ignore LaTeX build files
*.log
*.aux
*.idx
*.toc
*.synctex.gz
*.out
*.dvi
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.pgf-plot.gnuplot

# Ignore temporary files
*.swp
*.swo
*.bak
*.tmp

# Ignore Python virtual environments
venv/
.env/
